.div-periodo {
    width: 100%;
}

.div-periodo>mat-form-field {
    width: 25%;
}

.div-periodo mat-form-field:last-of-type {
    margin-left: 30px;
}

.panel-ckeditor{
    margin: 20px 0px;
    height: 300px;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px !important;
}