/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.default-form-field {
    width: 100%;
}

.panel-button {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 20px 0px;
}

.panel-button> :first-child {
    flex-grow: 1;
}

.mat-card-actions-bottom {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.container {
    padding: 20px;
}

table {
    width: 100%;
}

form {
    padding: 16px;
}

th.th-button {
    width: 80px;
}

.panel-filtro {
    padding: 10px;
    margin: 20px 0px;
    width: 50%;
}

.mat-spinner {
    width: 200px;
}

.badge {
    border-radius: 15px;
    padding: 4px 10px;
    height: fit-content;
}

.badge.primary {
    background-color: #3f51b5;
    color: #FFF;
}