/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    margin: 0;
    background-color: #fafafa;
}

p {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-coluna-botao {
    width: 40px;
}

.container {
    margin: 10px;
    padding: 10px;
}

.default-form {
    padding: 20px;
}

.default-form-field {
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

.table-coluna-delete {
    width: 30px;
    padding-right: 0px !important;
    margin-left: 20px;
}

.badge {
    border-radius: 15px;
    padding: 4px 10px;
    height: fit-content;
}

.badge.primary {
    background-color: #3f51b5;
    color: #FFF;
}

.coluna-botao {
    width: 40px;
}

.coluna-double-botao {
    width: 80px;
}

.panel-filtro {
    width: 33%;
    margin-bottom: 20px;
    padding: 10px 20px;
}