version: '3.2'
services:
    mongo:
        image: mongo:latest
        container_name: rh-mongo
        volumes:
          - .\data\db:/tmp/data
        ports:
            - 27017:27017
        expose:
            - 27017
    redis:
        image: redis:latest
        container_name: rh-redis
        ports:
            - 6379:6379
        expose:
            - 6379
    ldap:
      image: osixia/openldap:1.5.0
      container_name: rh-ldap
      environment:
        - LDAP_ORGANISATION=rh
        - LDAP_DOMAIN=rh.system.org
        - LDAP_TLS=false
        - "LDAP_BASE_DN=dc=rh,dc=system,dc=org"
        - LDAP_ADMIN_PASSWORD=leo123
      command: [ '--copy-service' ]
      ports:
        - 389:389
      volumes:
        - type: bind
          source: ./initial_user.ldif
          target: /container/service/slapd/assets/config/bootstrap/ldif/initial_user.ldif

    zookeeper:
        image: wurstmeister/zookeeper
        container_name: rh-zookeeper
        ports:
            - "2181:2181"
        expose:
            - 2181
    prometheus:
        image: prom/prometheus
        container_name: rh-prometheus
        volumes:
          - .\prometheus.yaml:/etc/prometheus/prometheus.yml
        ports:
            - "9090:9090"
        expose:
          - 9090
    grafana:
        image: grafana/grafana
        container_name: rh-grafana
        ports:
          - "3000:3000"
        expose:
          - 3000
    db:
      image: postgres
      container_name: rh-db
      restart: always
      ports:
        - 5432:5432
      environment:
        POSTGRES_PASSWORD: leo
        POSTGRES_USER: rh_admin
        POSTGRES_DB: rh_local
    kafka:
        image: wurstmeister/kafka
        container_name: rh-kafka
        ports:
            - "9092:9092"
        expose:
            - 9092
        depends_on:
            - zookeeper
        environment:
          KAFKA_ADVERTISED_HOST_NAME: localhost
          KAFKA_ZOOKEEPER_CONNECT: rh-zookeeper:2181
          KAFKA_BROKER_ID: 1
    keycloak:
        image: quay.io/keycloak/keycloak:17.0.0
        container_name: rh-keycloak
        ports: 
            - 8080:8080
        expose: 
            - 8080
        depends_on:
            - ldap
        environment:
          KEYCLOAK_ADMIN: admin
          KEYCLOAK_ADMIN_PASSWORD: admin
        command:
            - "start-dev"
        volumes:
            - type: bind
              source: ./server/src/test/resources/realm-export.json
              target: /tmp/realm-export.json
    web:
        build: ./client/
        container_name: rh-web
        ports:
          - 4200:4200
        expose: 
          - 4200
    server:
        build: ./server/
        container_name: rh-server
        ports:
          - 8090:8090
        expose: 
          - 8090
        environment:
          LDAP_SERVER: ldap://rh-ldap:389/dc=rh,dc=system,dc=org
          MONGO_HOST : rh-mongo
          SPRING_KAFKA_BOOTSTRAPSERVERS : rh-kafka:9092
          CACHE_HOSTNAME: rh-redis
