.div-periodo {
    width: 100%;
}

.div-periodo>mat-form-field {
    width: 25%;
}

.div-periodo mat-form-field:last-of-type {
    margin-left: 30px;
}

.panel-ckeditor {
    margin: 20px 0px;
    height: 300px;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px !important;
}

#podium-box {
    margin: 0 auto;
    display: flex;
    height: 300px;
    width: 75%;
    margin-bottom: 20px;
}

.podium-number {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.step-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.step-container>div:first-child {
    margin-top: auto;
    text-align: center;
    margin-bottom: 10px;
}

.step {
    text-align: center;
}

.bg-blue {
    background-color: #063b65;
}

#first-step {
    height: 65%;
    background-color: #2ecc71;
}

#second-step {
    height: 40%;
    background-color: #f1c40f;
}

#third-step {
    height: 25%;
    background-color: #e74c3c;
}

.avatar-candidate {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

::ng-deep .mat-card-header-text {
    margin: 0px !important;
}