<div class="container">

    <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%" *ngIf="!carregado">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card *ngIf="carregado">

        <mat-card-header>
            <mat-card-title>
                <app-edit-inline [(data)]="vaga.titulo" class="default-form-field"></app-edit-inline>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="60px" fxLayoutGap.xs="0">

                <div fxFlex="65%">

                    <form>

                        <mat-form-field>
                            <input matInput placeholder="Status" disabled value="{{vaga.status}}" name="vaga_status">
                        </mat-form-field>

                        <div class="div-periodo">

                            <mat-form-field>
                                <input matInput [matDatepicker]="inicio" placeholder="Inicio" [(ngModel)]="vaga.periodo.dataInicial" name="vaga_periodo_dataInicial">
                                <mat-datepicker-toggle matSuffix [for]="inicio"></mat-datepicker-toggle>
                                <mat-datepicker #inicio></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput [matDatepicker]="fim" placeholder="Fim" [(ngModel)]="vaga.periodo.dataFinal" name="vaga_periodo_dataFinal">
                                <mat-datepicker-toggle matSuffix [for]="fim"></mat-datepicker-toggle>
                                <mat-datepicker #fim></mat-datepicker>
                            </mat-form-field>

                        </div>

                        <mat-form-field class="default-form-field">
                            <input type="text" placeholder="Empresa" matInput [formControl]="editVagaFormControl" [matAutocomplete]="autocompleteEmpresa" name="vaga_empresa">
                            <mat-autocomplete #autocompleteEmpresa="matAutocomplete" [displayWith]="displayEmpresa" (optionSelected)="selectEmpresa()">
                                <mat-option *ngFor="let empresa of filteredEmpresas | async" [value]="empresa">
                                    {{empresa.nome}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field style="margin-right: 30px;">
                            <mat-label>Telefone</mat-label>
                            <mat-icon matPrefix>perm_phone_msg</mat-icon>
                            <input matInput value="{{vaga.contatoTelefone}}" name="vaga_contatoTelefone" />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>E-mail</mat-label>
                            <mat-icon matPrefix>email</mat-icon>
                            <input matInput value="{{vaga.contatoEmail}}" name="vaga_contatoEmail" />
                        </mat-form-field>

                        <mat-form-field class="default-form-field">
                            <mat-chip-list #tags>
                                <mat-chip *ngFor="let tag of vaga.tags" selectable="true" removable="true" (removed)="removeTag(tag)">
                                    {{tag}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Tags" [matChipInputFor]="tags" matChipInputAddOnBlur="true" (matChipInputTokenEnd)="addTag($event)" autocomplete="off" name="vaga_tags">
                            </mat-chip-list>
                        </mat-form-field>

                    </form>

                </div>

                <div fxFlex="35%" style="text-align: center;">

                    <h3 class="mat-h3"><b>Candidatos</b></h3>

                    <div id="podium-box" class="row">
                        <div class="step-container">
                            <div>
                                <img [src]="vaga.candidatosSelecionados[1].candidato.avatar" class="avatar-candidate" *ngIf="vaga.candidatosSelecionados.length > 1">
                            </div>
                            <div id="second-step" class="bg-blue step podium-number">
                                <span *ngIf="vaga.candidatosSelecionados.length > 1">
                                    {{vaga.candidatosSelecionados[1].pontuacao}}%
                                </span>
                            </div>
                        </div>
                        <div class="step-container">
                            <div>
                                <img [src]="vaga.candidatosSelecionados[0].candidato.avatar" class="avatar-candidate" *ngIf="vaga.candidatosSelecionados.length > 0">
                            </div>
                            <div id="first-step" class="bg-blue step podium-number">
                                <span *ngIf="vaga.candidatosSelecionados.length > 0">
                                    {{vaga.candidatosSelecionados[0].pontuacao}}%
                                </span>
                            </div>
                        </div>
                        <div class="step-container">
                            <div>
                                <img [src]="vaga.candidatosSelecionados[2].candidato.avatar" class="avatar-candidate" *ngIf="vaga.candidatosSelecionados.length > 2">
                            </div>
                            <div id="third-step" class="bg-blue step podium-number">
                                <span *ngIf="vaga.candidatosSelecionados.length > 2">
                                    {{vaga.candidatosSelecionados[2].pontuacao}}%
                                </span>
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%; height: 300px;">

                        <h3 class="mat-h3"><b>Exigências</b></h3>

                        <mat-list #exigencias>
                            <mat-list-item *ngFor="let exigencia of vaga.exigencias">
                                {{exigencia.fullName()}}
                            </mat-list-item>
                        </mat-list>

                    </div>

                </div>

            </div>

        </mat-card-content>

        <mat-card-actions>
            <button mat-stroked-button color="primary" [routerLink]="['/vagas/']">Cancelar</button>
            <div fxFlex></div>
            <button mat-stroked-button color="primary" (click)="salvar()">Salvar</button>
        </mat-card-actions>

    </mat-card>

</div>