.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .app-is-mobile .app-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.app-app-name {
    margin-left: 8px;
  }
  
  .app-sidenav-container {
    flex: 1;
  }
  
  .app-sidenav {
    min-width: 250px;
  }
  
  .app-is-mobile {
    flex: 1 0 auto;
  }
  
  .app-sidenav-icon {
    margin-right: 10px;
  }