<div class="app-container">

    <mat-toolbar color="primary" class="app-toolbar">
        <button mat-icon-button (click)="snav.toggle()" *ngIf="user.token" id="toggle-menu">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>System</h1>
    </mat-toolbar>

    <mat-sidenav-container class="app-sidenav-container">
        <mat-sidenav #snav class="app-sidenav">
            <mat-nav-list>
                <a mat-list-item routerLink="/dashboard" (click)="snav.toggle()">
                    <mat-icon class="app-sidenav-icon">dashboard</mat-icon>Dashboard
                </a>
                <a mat-list-item routerLink="/candidatos" (click)="snav.toggle()">
                    <mat-icon class="app-sidenav-icon">perm_identity</mat-icon>Candidatos
                </a>
                <a mat-list-item routerLink="/vagas" (click)="snav.toggle()">
                    <mat-icon class="app-sidenav-icon">work</mat-icon>Vagas
                </a>
                <a mat-list-item routerLink="/qualificacoes" (click)="snav.toggle()">
                    <mat-icon class="app-sidenav-icon">school</mat-icon>Qualificações
                </a>
                <a mat-list-item routerLink="/categorias" (click)="snav.toggle()" id="link-categorias">
                    <mat-icon class="app-sidenav-icon">bookmarks</mat-icon>Categorias
                </a>
                <a mat-list-item routerLink="/empresas" (click)="snav.toggle()" id="link-empresas">
                    <mat-icon class="app-sidenav-icon">account_balance</mat-icon>Empresas
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>