.tabs-candidato {
    padding-top: 40px;
}

.coluna-qualificacao {
    width: 60%;
    padding: 0px 30px;
}

.coluna-tempo {
    width: 30%;
    padding-right: 30px;
}

.coluna-deletar {
    width: 10%;
}