<mat-card class="login-card">

    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <form class="form-login">

            <mat-form-field class="default-form-field">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" autocomplete="off" required>
            </mat-form-field>

            <mat-form-field class="default-form-field">
                <input matInput placeholder="Password" [(ngModel)]="password" type="password" autocomplete="off" name="password" required>
            </mat-form-field>

        </form>

        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>

    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button class="botao-login" (click)="login()" color="primary">Login</button>
        <div style="clear: both;"></div>
    </mat-card-actions>

</mat-card>