<div class="parent" #parent>

    <div class="wrapper-content" (mouseover)="showEditButttons()" (mouseout)="hideEditButtons()" *ngIf="readOnly && !editing">
        <h1 class="mat-h1" (dblclick)="editar()" #content>{{data}}</h1>
    </div>

    <div class="wrapper-icon-edit" *ngIf="showEditButton">
        <mat-icon class="icon-edit">edit</mat-icon>
    </div>

    <input mat-input #dataText [value]="data" class="data-text" *ngIf="editing" />

</div>

<div class="botoes" *ngIf="editing">
    <button mat-stroked-button (click)="cancelar()" style="margin-right: 10px;">
        <mat-icon>close</mat-icon>
    </button>
    <button mat-stroked-button (click)="confirmar()">
        <mat-icon>check</mat-icon>
    </button>
</div>