<div class="container">

    <div class="panel-button">
        <h1 class="mat-h1">Vagas</h1>
        <button mat-fab color="primary" [routerLink]="['/vaga/']" id="adicionarVaga">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="mat-elevation-z8 out-lista">

        <div *ngFor="let item of listas | keyvalue:asIsOrder" class="item-lista">

            <div class="lista-header">
                <span>{{labelStatus[item.key]}}</span>
            </div>

            <div class="lista" cdkDropList [cdkDropListData]="item.value.data" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="item.value.connected" id="{{item.key}}">

                <mat-card *ngFor="let vaga of item.value.data" class="item-vaga" cdkDrag [cdkDragData]="vaga" (dblclick)="abrirTextoVaga(vaga)">

                    <mat-card-header>
                        <mat-card-title matBadge="!" [matBadgeHidden]="!isNova(vaga.id)" matBadgeColor="warn" matBadgeOverlap="false" matBadgePosition="above after">{{vaga.titulo}}</mat-card-title>
                        <mat-card-subtitle>{{vaga.empresa.nome}}</mat-card-subtitle>
                        <div fxFlex></div>
                        <div class="badge primary" matTooltip="Dias desde a entrada" matTooltipPosition="above">{{vaga.diasDesdeEntrada()}}</div>
                    </mat-card-header>

                    <mat-card-content>
                        <mat-chip-list *ngIf="vaga.tags.length > 0">
                            <mat-chip color="primary" *ngFor="let tag of vaga.tags">{{tag}}</mat-chip>
                        </mat-chip-list>
                    </mat-card-content>

                    <mat-card-actions style="position: absolute;bottom: 24px;right: 24px;">
                        <button mat-icon-button color="primary" [routerLink]="['/vaga/',vaga.id]" style="float: right;" matTooltip="Editar..." matTooltipPosition="above">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" (click)="abrirTextoVaga(vaga)" style="float: right;" matTooltip="Mostrar Detalhes..." matTooltipPosition="above">
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                    </mat-card-actions>

                </mat-card>

            </div>
        </div>
    </div>

</div>