.out-lista {
    display: flex;
    justify-content: space-between;
    min-height: 600px;
    padding: 5px;
    margin-bottom: 50px;
}

.item-lista {
    box-sizing: border-box;
    width: calc(100% / 6 - 22px);
}

.lista-header {
    height: 40px;
    background-color: #f4f5f7;
    border: 1px #9fa2a9 solid;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-header span {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
}

.item-vaga {
    min-height: 200px;
    margin-bottom: 10px;
    position: relative;
}

.lista {
    background-color: #f4f5f7;
    height: calc(100% - 70px);
    border: 1px #f4f5f7 solid;
    padding: 5px;
}

::ng-deep .mat-card-header-text {
    margin: 0px !important;
}