<div class="container">

    <div style="width: 100%; height: 50px;">
        <h1 class="mat-h1" style="float: left;">Tipos de Qualificações</h1>

        <button mat-fab color="primary" style="float: right" id="adicionarTipoQualificacao" (click)="criarTipoQualificacao()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <mat-grid-list #grid rowHeight="1:0.5" cols="2">

        <mat-grid-tile *ngFor=" let tipo of tipoQualificacoes">

            <mat-card>

                <mat-card-header>

                    <mat-card-title>
                        <span class="descricao-text">{{tipo.descricao}}</span>
                        <button mat-icon-button (click)="delete(tipo.id)" class="btn-delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-title>

                </mat-card-header>

                <mat-card-content>

                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="60px" fxLayoutGap.xs="0">

                        <div fxFlex="75%">
                            <mat-list dense>
                                <mat-list-item *ngFor="let qualificacao of tipo.qualificacoes">
                                    <h4 mat-line>{{qualificacao.fullName()}}</h4>
                                </mat-list-item>
                            </mat-list>
                        </div>

                        <div fxFlex="25%">
                            <div class="quadro-numeros">
                                <div>
                                    <mat-icon class="icon-display">cached</mat-icon>
                                    <span title="Quantidade de qualificacacoes que tem ao menos 1 equivalencia!">{{tipo.porcentagemEquivalentes() | percent}}</span>
                                </div>
                                <div>
                                    <mat-icon class="icon-display">reorder</mat-icon>
                                    <span title="Quantidade total de qualificacoes nesta categoria!">{{tipo.qualificacoes.length}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-card-content>

            </mat-card>

        </mat-grid-tile>

    </mat-grid-list>

</div>