.mat-card {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
}

.btn-delete {
    float: right;
}

::ng-deep .mat-card-header-text {
    width: 100%;
}

.descricao-text {
    font-size: 24px;
}

.quadro-numeros div {
    width: 100%;
    text-align: center;
    height: 100px;
    border: 3px rgba(231, 42, 42, 0.623) solid;
    border-radius: 20px;
    margin: 0px 0px 10px 0px;
    line-height: 100px;
}

.quadro-numeros span {
    font-size: 40px;
    margin-left: 20px;
}

.icon-display {
    transform: scale(1.75);
}