<h1 mat-dialog-title>Descricao da Vaga</h1>
<div mat-dialog-content>

    <p style="overflow: auto; height: 420px; margin-bottom: 50px;">{{vaga.descricao}}</p>

    <mat-form-field>
        <mat-label>Telefone</mat-label>
        <mat-icon matPrefix>perm_phone_msg</mat-icon>
        <input matInput value="{{vaga.contatoTelefone}}" disabled="true">
    </mat-form-field>

    <mat-form-field style="float: right;">
        <mat-label>E-mail</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input matInput value="{{vaga.contatoEmail}}" disabled="true">
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-button (click)="onCancelar()">Cancelar</button>
</div>